h1 {
    font-family: arial, verdana, sans-serif;
    font-size: 50px;
    font-variant: small-caps;
    font-style: italic;
    color: #ff0000;
}

p {
    font-family: georgia, serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 50px;
}